:root {
    --color-dark-gray: #10100e;
    --color-white:     #fff;
    --color-black:     #000;
    --color-yellow:    #ffff00;
    --color-blue:      #6a83fb;
    --color-violet:    #ae72c2;

    --spacing-medium: 20px;
    --transition: 0.4s;
    --font-size-header: 26px;
    --font-size-main: 16px;

    --width-max: 1200px;

    --border-radius-small: 3px;
    --theme-default-header: #cccc46;
    --theme-default-bgimage: url(./../static/starssky.jpg);

    --text-shadow-yellow: 0 0 2px var( --color-white),0 0 40px var( --color-yellow);
    --text-shadow-blue: 0 0 2px var( --color-white),0 0 40px var( --color-blue);

    --font-bold: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgimage); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img{
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*my styles*/
body{
  background-color: var(--color-dark-gray);
}
.header__text{
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow:0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}

body[data-theme='dark']{
  --color-text:hsl(0,0%,100%);
  --theme-default-bgimage: url(./../static/darkmoul.jpg);
  --shadow-button-color: 4px 8px 4px rgb(128, 0, 0);
  transition-duration: 1s;
}
body[data-theme='light']{
  --color-text:hsl(200,15%,0%);
  --theme-default-bgimage: url(./../static/yoda.jpg);
  --shadow-button-color: 4px 8px 4px rgb(0, 128, 0);
  transition-duration: 1s;
}